
.auth_header{
  display: flex;
  justify-content: space-between;
  background: white;
  height: 90px;
  padding-inline: 2.5%;
  align-items: center;
  border-bottom: 2px solid #ddd;
  border-top: 3px solid var(--purple);
}

.auth_card{
  width: 400px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.form-container{
  width: 100%;
  height: 110vh;
  position: relative;
  

}
.form_cont2{
  height: 130vh !important;
}

  .signup-form,
  .login-form{
    
    border-radius: 8px;
    width: 100%;
    display: flex;
    padding-inline: 5%;
    flex-direction: column;
    background: white;
    margin:auto;
    padding-block: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    box-shadow: 2px 2px 3px #ddd;
    
    
  }
  
  .signup-form h2,
  .login-form h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  
  
  .form-group input[type="email"],
  .form-group input[type="password"],.form-group input[type="text"] {
    width: inherit;
    padding: 15px ;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  .form-group input:focus {
    outline: 1px solid #218838;
    border: none;
    box-shadow: inset 2px 2px 2px -1px #28a745,3px 2px 3px -1px #28a745;
  }
  
  .form-group .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .form_button {
    
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    height: 40px;
    margin-inline: auto;
  }
  .checkbox{
    display: flex;
    align-items: center;
    gap: 2px;
    width: fit-content;
    margin-bottom: 2rem;


    & input{
      height: 30px;
    }
    & label{
      white-space: nowrap;
      font-size: 16px;
      font-weight: 600;
    }
    
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .success-message {
    color: green;
    margin-top: 15px;
    font-size: 14px;
  }


  /* Center the OTP input container */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

h2 {
  margin-bottom: 16px;
}


.otp_background{
  display: flex block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  height: 100vh;


}
/* OTP input container */
.otp {
  display: flex;
  gap: 8px;
}

.otp-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 50px;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  border: 1px solid var(--purple);
}

/* OTP input fields */
.otp-input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  border: 2px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s;
}

/* Focus effect */
.otp-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.verification-container {
  text-align: center;
  margin-bottom: 20px;
}

.verification-container h3 {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.verification-container p {
  font-size: 14px;
  color: #555;
}

.email-text {
  font-weight: nedium;
  color: var(--purple);
}


.resend-container {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.resend-btn {
  background: none;
  border: none;
  color: var(--purple);
  font-weight: medium;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}

.resend-btn:hover {
  color: #0056b3;
  text-decoration: none;
  background: transparent;
}




  @media (max-width: 568px){
    .signup-form,
  .login-form{
    
    padding-inline: 5%;
    
    
  }

  .auth_card{
    width: 95%;
  }

  .otp-container{
     width: 90%;
     padding: 30px 2.5%;
  }

  .otp-input {
    width: 40px;
    height: 40px;
    font-size: 19px;
  }
  }
  


  