.Freight_image_header{
    position: relative;
    background: url("../../../public/SFG_images/Slider2.jpg") no-repeat  fixed 100%;
    background-size: cover;
    height: 200px;
    margin-bottom: 50px;
 }


 .parallelogram{
   padding-inline: 5px;
   display: flex;
   max-width:260px;
   transform: translateY(0);
   margin-left: 2.5%;
   
   height: 30px;
   background-color: #eee;
   gap:10px;
   padding: 10px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 100%,75% 100%,0% 100%);
 }


 .parallelogram > section{
  line-height: 30px;
  font-size: 15px;

  & a{
    font-size: 15px;
  }
 }
 .parallelogram > section:not(:first-child){
  border-left: 2px solid  #ddd;
  padding-left: 4px;
  
 }

 
 
 .freight {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: white;
    border-radius: 8px;
    padding-inline: 2.5%;
    grid-gap: 10px;
    

    & p,h3{
      width: 90%;
      margin-left: auto;
    }
  }

 
  
  
  .freight div{
    background: white;
    margin-inline: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .freight h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-block: 10px;
    position: relative;
  }
  
  .freight p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #333;
    width: 83%;
    padding-right: 3%;
  }
  
  .freight ul {
    list-style-type: none;
    margin-left: auto;
    width: 90%;
    margin-bottom: 15px;
  }
  
  .freight ul li {
    margin-bottom: 8px;
    font-size: 1rem;
  }
  
  .freight h3 {
    font-size: 1.2rem;
    margin-bottom: 8px;
    color: #555;
    border-bottom: 1px solid #ddd;
    padding-block: 5px;
  }

 .key_benefit li{
    font-size: 15px;
  }
  

 @media (max-width: 768px) {
    .cont{
        margin-top: 90px;
    }

    .freight{
      grid-template-columns: repeat(2,1fr);
    }
    
 }

 @media (max-width: 500px) {
  .freight{
    grid-template-columns: repeat(1,1fr);
  }
  }