@import "mapbox-gl/dist/mapbox-gl.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxygen:wght@300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-size: 19px;
}

:root{
   --purple: #a422d0;
   --green: #a0c444;
   --bg: rgb(210, 154, 228);
   --border: #a422d0;
}

body{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.active{
 position: relative;
  color: var(--purple);
  
}

.active > span{
  color: var(--purple);
}

.active::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: var(--purple);
  z-index: 2;
  left: 0;
  
  bottom: -13px;
  
}

.Popup{
  background-color: blue;
  transition: .2s;
}




.pop{
 /* height: 300px; */
  opacity: 1;
  visibility: visible;
}

.closePop{
  /* height: 0; */
   visibility: hidden;
   opacity: 0;
}

.main_header{
  display: flex;
  flex-direction: column;
  

}
.h_child1{
  display: flex;
  justify-content: space-between;
  align-items: center;
 padding-inline: 2% 0;
  width: inherit;
  height:80px;
  gap: 10px;
  background: rgb(2,0,36);
  background: var(--green);

  & button{
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  color:white;
  }
}

.logo{
  transform: translateY(8px);
}
.h_child2{
  border-top: 8px solid #111;
  position: sticky;
  top: 0;
  z-index: 98;
  background: #fff;
  padding-inline: 2% 0 !important;
  border-bottom: 2px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  
  align-items: center;
 
 
}
.nav1{
  display:flex;
  gap: 15px;
  font-size: large;
  font-weight: 600;
  position: sticky;
}

.nav{
  border-radius: 1rem;
  padding-block: 30px;
  height:max-content;
  width: 90%;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  gap: 4px;
  top: 100px;
  transform: translate(-50%,-50%);
  left: 46%;
  z-index: 30;
  box-shadow: 0 2px 20px 0px;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: #fff;

   
}

.header_links{
  width: 80%;
  height: 30px;
  padding-inline: 5px;
  border-radius: 5px;
  display: flex;
  text-decoration: none ;
  color: #111;
  
  
}


.icon_link a{
  color: white;
}
.drop{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  padding-left: 10px;
  visibility: hidden;
  transform: translateY(5px);
  height: 0;

  animation: hover 0.3s linear;
  z-index: 40;
  box-shadow: 1px 2px 5px #bbb;

  & p{
    margin-top: 0;
    padding-block: 3px;
    border-bottom: 1px solid #ddd;
  }
}

.drop > p:hover{
  background-color: rgba(0,0,0,0.1);
}

.click{
  height: 30px;
  padding-inline: 4px 0;
  color: #111;
}
.click:hover .drop{
  z-index: 99;
  height: auto;
  visibility: visible;
  animation: hover 1s linear;
}

@keyframes hover{
  from{ height:0;}
  to{height: 100%}
}

@keyframes navAnimate{
  from{ left:0;}
  to{left: 50%;}
}



.footer{
  
  padding-block-start: 3rem;
  background-color: #312c2c;
  
  

}

footer a{
  text-decoration: none;
  color: white;
  font-size: 16px;
}
  a{
    text-decoration: none;
  }
.footer_nav{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  width:96%;
  padding-bottom: 2em;
}
.About{
  display: none;
  flex-direction: column;

  & button{
    width: 100%;
    margin-top: 2px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    background: transparent;
    color: #ccc;
    border: none;
    font-weight:500;
    font-size: medium;
  }
}

.details{
  display: flex;
  flex-direction: column;
  gap: 5px;

  & p{
    font-size: 15px;
  }
}

.company_info{
  display: none;
}



.About > div{
   overflow: hidden;
   transition: all 0.3s;
   height: 30px;
   border-top: 1px solid #ccc;
   padding-block: 0.3rem;
}
.About > div:nth-child(2){
  border-bottom: 1px solid #ccc;
}
.accordion{
  padding-top: 5px;
  transform: translate(2rem,0);
}

.accordion a{
   font-size: medium;
}

.open{
  height: 33px;
  width: 35px;
  position: relative;
  display: none;
  border-radius: 5px;
  background-color: transparent;
  
  

  & div{
      background-color: #555;
      width: 90%;
      height: 3px;
      border-radius: 5px;
      position: absolute;
      transition: all .3s;
      left: 50%;
      transform: translate(-50%,-50%);
      
  }
}

.open:hover{
  background: transparent;
}

.nav_2{
  display: flex;
  flex: 1 1 auto;
  padding-inline: 6px;
  flex-direction: column;
  gap: 7px;

  & div{
     transform: translateX(6px);
     font-weight: 500;
     font-size: 15px;
     color: #fff;
  }

  & div:hover{
     color: var(--green);
  }

  & p{
      font-size: 16px;
      font-weight: 500;
  }
}

.copyright_header{

  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid #fff;
  padding-inline: 2.5%;

  & p{
    
    width: max-content;
    height: fit-content;
    color:white;
    font-size: 15px;
    font-weight: 500;
  }
}

.shipment_btn{
  height: 60px;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%;
  padding-left: 3px;
  color: #444;
  background-color: #fff;
 border: 3px solid var(--green);
  cursor: pointer;
  transition: border-width 0.3s ease-in-out; /* Smooth transition for border growth */
  font-size: 16px;
  font-weight: bold;
  z-index: 3;
  text-align: center;
}

/* Hover effect for the back-to-top button */
.back-to-top:hover {
  background-color: #0056b3;
}

.social_media_handles{
  display: flex;
}

@media (max-width: 568px){
  *{
    font-size: 17px;
  }
  .nav{
    display: flex;
  }
  .open{
    display: block;
}
.nav1{
  display: none;
}
.About{
  display: flex;
}

.header{
  border-top: 8px solid var(--green);
}

.copyright_header > p{
   font-size: 14px;
}


.side_link{
  position: relative;
  color: #444;
}
.side_link::before{
  content: "";
  position: absolute;
  background-color: #ccc ;
  height: 110%;
  width: 1px;
  left: -6px;
  border-radius: 5px;
}

.active{
  
  
  position: relative;
  color: var(--green);
}

.active > span{
  color: var(--green);
}

.active::before{
  
  background-color: var(--green);
  height: 50%;
  width: 5px;
  left: -8px;
  border-radius: 5px;
  top: 25%;
  

}


.shipment_btn{
  height: 50px;
}
}

@media (max-width: 950px){
  .footer_nav{
    flex-wrap: wrap;
  }
}

@media (max-width: 768px){
  .social_media_handles{
    display: none;
  }
  .About{
    display: flex;
  }
  .nav_1{
  display: none;
}
.footer_nav{
  flex-direction: column;
  width: 95%;
}



.h_child2{
  
  z-index: 30;
}

.h_child2 a{
  color: #333;
}

.h_child1{
   display: none;
}

.company_info{
  display: block;
}
}





