*{
  margin: 0;
  padding: 0;
  font-size: 19px;
}

.active{
  border-top: 3px solid #A7C756;
  color: #A7C756;
}

.Popup{
  background-color: blue;
  transition: .2s;
}




.pop{
 /* height: 300px; */
  opacity: 1;
  visibility: visible;
}

.closePop{
  /* height: 0; */
   visibility: hidden;
   opacity: 0;
}

.header{
  display: flex;
  flex-direction: column;
  width: 100%;

}
.h_child1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid rgb(213, 35, 35);
  width: inherit;
  height:80px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,121,9,0.7841545553768382) 35%, rgba(0,212,255,1) 100%);

  & button{
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  color:white;
  }
}

.h_child2{

  
 background: #fff;
  border-bottom: 2px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: inherit;
  align-items: center;
 
 
}
.nav1{
  display:flex;
  gap: 15px;
  font-size: large;
  font-weight: 600;
}

.nav{
  border-radius: 1rem;
  padding-block: 30px;
  height:max-content;
  width: 90%;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  gap: 4px;
  top: 100px;
  transform: translate(-50%,-50%);
  left: 46%;
  z-index: 30;
  box-shadow: 0 2px 20px 0px;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: #fff;

   
}

.header_links{
  width: 80%;
  margin-inline: auto;
  height: 30px;
  padding-inline: 4px;
  border-radius: 5px;
  display: flex;
  text-decoration: none ;
  color: #A7C756;
  justify-content: space-between;
  text-decoration: none;
}

.drop{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  padding-left: 10px;
  visibility: hidden;
  height: 0;
  animation: hover 0.3s linear;

  & p{
    padding-block: 4px;
  }
}

.drop > p:hover{
  background-color: #A7C756;
}
.click:hover .drop{
  height: auto;
  visibility: visible;
  animation: hover 1s linear;
}

@keyframes hover{
  from{ height:0;}
  to{height: auto}
}

@keyframes navAnimate{
  from{ left:0;}
  to{left: 50%;}
}



.footer{
  
  padding-block-start: 3rem;
  background-color: #312c2c;
  
  

}

footer a{
  text-decoration: none;
  color: white;
  font-size: x-large;
}

.footer_nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2em;
}
.About{
  display: none;
  flex-direction: column;

  & button{
    width: 100%;
    margin-top: 2px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    background: transparent;
    color: #ccc;
    border: none;
    font-weight:500;
    font-size: medium;
  }
}

.details{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.company_info{
  display: none;
}

.socials_media_handles{
  padding-block: 5px;
  background: #251D1D;
  margin-top: 1.5rem;
  

  & a{
    font-size: 30px;
  }
}

.About > div{
   overflow: hidden;
   transition: all 0.3s;
   height: 30px;
   border-top: 1px solid #ccc;
   padding-block: 0.3rem;
}
.About > div:nth-child(2){
  border-bottom: 1px solid #ccc;
}
.accordion{
  padding-top: 5px;
  transform: translate(2rem,0);
}

.accordion a{
   font-size: medium;
}

.open{
  height: 30px;
  width: 30px;
  position: relative;
  display: none;

  & div{
      background-color: #1C1818;
      width: 100%;
      height: 3px;
      position: absolute;
      transition: all .3s;
      left:0;
  }
}
.nav_1,
.nav_2{
  display: flex;
  flex-direction: column;
  gap: 7px;

  & div{
     transform: translateX(6px);
     font-weight: 500;
     font-size: 17px;
  }

  & div:hover{
     color: #A7C756;
  }
}

.copyright_header{

  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid #fff;


  & p{
    
    width: max-content;
    height: fit-content;
    color:white;
    font-size: 18px;
    font-weight: 600;
  }
}



@media (max-width: 568px){
  *{
    font-size: 17px;
  }
  .nav{
    display: flex;
  }
  .open{
    display: block;
}
.nav1{
  display: none;
}
.About{
  display: flex;
}

.header{
  border-top: 8px solid #A7C756;
}

.copyright_header > p{
   font-size: 14px;
}


.side_link{
  position: relative;
  color: #444;
}
.side_link::before{
  content: "";
  position: absolute;
  background-color: #ccc ;
  height: 110%;
  width: 1px;
  left: -6px;
  border-radius: 5px;
}

.active{
  
  border-top: none;
  position: relative;
  color: #A7C756;
}
.active::before{
  content: "";
  position: absolute;
  background-color: #A7C756;
  height: 50%;
  width: 5px;
  left: -8px;
  border-radius: 5px;
  

}
}

@media (max-width: 768px){

  .About{
    display: flex;
  }
  .nav_1{
  display: none;
}
.footer_nav{
  flex-direction: column;
  
}

.header{
  position: fixed;
  top: 0;
  z-index: 30;
}

.h_child1{
   display: none;
}

.company_info{
  display: block;
}
}





