tr {
    transition: opacity 0.5s ease-in, height 0.5s ease-in;
    opacity: 1;
    height: 40px; /* Adjust based on your row height */
    overflow: hidden; /* Helps to collapse the height smoothly */
  }
  
  tr.fade-out {
    opacity: 0;
    height: 0;
  }

  .admin_header{
    top: 0;
    position: fixed;
    height: 90px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .items{
    margin-top: 90px;
    display: flex;
    gap: 10px;
  }