.order_container{
    
    background-color: #eee;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-block: 20px 30px;
}

.nav_button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    & button{
        padding: 4px 5px;
        border-radius: 7px;
        border: 2px solid #777;
        color: #777;
    }
}

.order_box{
    position: relative;
    background-color: #fff;
    padding: 5%;
    width:80%;
    border-radius: 10px;
    font-family: "poppings", sans-serif;
    font-size: 15px;
    color: #333;
    border-bottom: 5px solid #c8e286;

    & button{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        margin-top: 10px;
    }
}


.my_item_grid{
    display: grid;
    background: yellow;
    width: 95%;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 768px){
    .my_item_grid{
        grid-template-columns: 1fr;
    }
}