.order_container{
    
    background-color: #eee;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-block: 20px 30px;
}

.create_order_button{
    display: flex;
    justify-content: flex-end;
}

.create_order-btn{
    width: 50%;
}

.active_3{
    animation: blinkShadow 1s infinite alternate;
}

@keyframes blinkShadow {
    0% { 
        box-shadow: 0 0 10px rgba(180, 224, 0, 0.9); 
      }
      50% {
        box-shadow: 0 0 20px rgba(180, 224, 0, 0.4);
      }
      100% {
        box-shadow: 0 0 10px rgba(180, 224, 0, 0.9);
      }
  }

.nav_button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    & button{
        padding: 4px 5px;
        border-radius: 7px;
        border: 2px solid #777;
        color: #777;
    }
}

.order_box{
    position: relative;
    background-color: #fff;
    padding: 5%;
    width:80%;
    border-radius: 10px;
    font-family: "poppings", sans-serif;
    font-size: 15px;
    color: #333;
    border-bottom: 5px solid #c8e286;

    & button{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        margin-top: 10px;
    }
}


.my_item_grid{
    display: grid;
    gap: 15px;
    width: 95%;
    grid-template-columns: 1fr 1fr 1fr;
}

.filter_gap{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

@media (max-width: 768px){
    .my_item_grid{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 689px){
    .create_order_button{
        
        width: 100%;
    }
    .create_order-btn{
        width: 100%;
    }
    .filter_gap{
        grid-template-columns: 1fr;
    }

    .buttons_1{
        border-bottom: 1px solid #ddd;
    }
}