.invoice-container {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .invoice-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .invoice-header h2 {
    margin-bottom: 5px;
  }
  
  .invoice-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  
  .invoice-details {
    width: 45%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .invoice-table {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  .invoice-footer {
    text-align: right;
    margin-top: 20px;
  }
  
  .invoice-footer h3 {
    color: #d9534f;
  }

  .information{
    display: flex;
    margin-top: 30px;
    width: 95%;
    justify-content: space-between;
    margin-inline: auto;
    gap: 8px;
  }
  
  .Notice{
    width: 50%;
  }
  .list > li{
    font-size: 16px;
    margin-bottom: 3px;
  }

  .bank_account h3, .mobile_money h3{
    font-size: 16px;
    border-bottom: 2px solid #333 ;
  }

  .account_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  .account_info > span{
    font-size: 16px;
    width: 45%;
    padding-block: 5px;
  }
  .account_info:nth-child(even){
    background-color: #eee;
  }
  