.parent-element {
    counter-reset: my-counter;
  }
  
  .tab {
    counter-increment: my-counter;
  }
  
  .tab::before {
    color: black;
    content: counter(my-counter) " ";
  }

  .terms{
    width: 60%;
  }