.line_map{
    width: 81%;
    border-radius: 5px;

    background: linear-gradient(to left,#eee,#ddd,#eee);
    overflow-x: auto;
    margin-inline: auto;
    padding: 50px 7%; 
}

.line{
    display: flex;
    width: 160%;
    margin-inline: auto;

    
}

.line2{
    position: relative;
    width: 160%;
    padding:0 5px ;
    margin-inline: auto;
    margin-bottom: 40px;

    & p{
        position: absolute;
        font-size: 14px;
        
    }

    
}

.China div:first-child{
    left: -5%;
}

.line2 > p:first-child{
    left: -5%;
}
.line2 > p:nth-child(2){
    left: 10%;
}
.line2 > p:nth-child(3){
    left: 25%;
}
.line2 > p:nth-child(4){
    left: 40%;
}
.line2 > p:nth-child(5){
    left: 60%;
}
.line2 > p:nth-child(6){
    left: 80%;
}
.line2 > p:nth-child(7){
    left: 95%;
}
.current_city{
    position: relative;
    width: 25%;
    height: 4px;
    background: #444;
    margin-block: 20px;
    

    & div{
        position: absolute;
        right: 0;
        top: -250%;
        background: white;
        width: fit-content;
    }
}

.route_button{
    border: 2px solid #A7C756;
    margin-inline: auto;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;

}

.Map{
    
    height: 300px;
    width: 80%;
    background-color: #ddd;
    margin-top: 200px;
}