.Track_cont3{
    background: url("./../../public/SFG_images/TrackNeutral.jpg") no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
}

.Track_cont1{
    background: url("./../../public/SFG_images/Goods.jpg") no-repeat;
    background-size: cover;
    position: relative;
    height: 500px; 
}
.Track_cont2{
    background: url("./../../public/SFG_images/ContainerTrack.jpg") no-repeat;
    background-size: cover;
    position: relative;
    height: 500px; 
}
.track_1 , .track_2{
    position: absolute;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    z-index: 2;
    background: rgb(225,225, 225,0.3);
   

    & p:first-child{
        font-size: 20px;
        font-weight: 700;
        color: #333;
    }

    & section{
        display: flex;
        gap: 20px;
    }

    & section > button{
        padding: 7px 10px;
        border-radius: 10px;
        background:  #A7C756;
        border: none;
    }
}

.track_1{
    background: url("./../../public/SFG_images/map.jpg") no-repeat;
    background-size: cover;
    
}

.track_btn, .next{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   border: 2px solid #A7C756;
   height: 35px;
   width: 130px;
   border-radius: 15px;
   font-weight: 550;
   color: #444;
}


.line_map{
    width: 95%;
    border-radius: 5px;
    background: url("./../../public/SFG_images/map.jpg") no-repeat;
    background-size: cover;
    overflow-x: auto;
    margin-inline: auto;
    display: block;
    height: 500px;
    
    
}


.line_header{
    position: absolute;
    bottom: -100px;
    font-weight: 600;
    text-align: center;
    left:50%;
    width: 80%;
    transform: translate(-50%,-50%);
}
.headline{
    position: relative;
    width: 100%;
    
}

.ship{
    min-width: 90%;
    align-self: flex-start;
}

.current_city{
    position: relative;
    width: 25%;
    background: #222;
    height: 4px;
    margin-block: 20px;
    
    

    & span{
        position: relative;
        background: #A7C756;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 14px;
        


    }

    & .ship-cont{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
        top: 500%;
        width: 80px;
    }
}


.line_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
    height: 100%;
    width: 160%;
   
    
    background: rgba(225,225, 225, 0.7);
}

.line{
    display: flex;
    min-width: 100%;
    
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;

    
    
    & p{
        
        font-size: 14px;
        font-weight: 500;
        max-width: 80px;
        text-align: center;
        color: #444;
        
    }   
    
}

.route_button{
    border: 2px solid #A7C756;
    margin-inline: auto;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;

}

.Map{
    
    height: 300px;
    width: 80%;
    background-color: #ddd;
    margin-top: 200px;
}

.arrow{
    background: transparent !important;
    transform: translate(-50%,50%);
    height: 50px;
      
}

.tracking-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;

    width: 400px;
  }
  
  .tracking-input {
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
  }
  
  .tracking-input:focus {
    border-color: var(--purple);
    outline: none;
    box-shadow: 0 0 5px var(--purple);
  }
  
  .track-button {
    background-color: var(--purple);
    color: white;
    border: none;
    padding: 12px 18px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    
  }
  
  .track-button:hover {
    background-color: #0056b3;
  }
  

@media (max-width: 400px){
    .line_inner{
        width: 310%;
    }

    
    
}

@media (max-width: 768px){
    .tracking-container{
        flex-direction: column;
           
    }

    .tracking-input{
        width: 95%;
        padding:12px 2.5%;
        font-size: 16px;
        flex: 1;
    }

    .track-button {
        width: 100%;
        padding: 12px 0;
        font-size: 16px;
        flex: 1;
    }
}

@media (max-width: 568px){
    .tracking-container{
        width: 85%;
       
        
    }
}