.Track_cont{
    background: url("./../../public/SFG_images/map.jpg") no-repeat;
    background-size: cover;
    position: relative;
    height: 300px;
}
.track_1 , .track_2{
    position: absolute;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    z-index: 2;
    background: rgb(225,225, 225,0.8);
   

    & p:first-child{
        font-size: 20px;
        font-weight: 700;
        color: #333;
    }

    & section{
        display: flex;
        gap: 20px;
    }

    & section > button{
        padding: 7px 10px;
        border-radius: 10px;
        background:  #A7C756;
        border: none;
    }
}

.track_1{
    background: url("./../../public/SFG_images/map.jpg") no-repeat;
    background-size: cover;
    
}

.track_btn, .next{
   border: 2px solid #A7C756;
   padding: 7px 10px;
   border-radius: 10px;
}


.line_map{
    width: 95%;
    border-radius: 5px;
    background: url("./../../public/SFG_images/map.jpg") no-repeat;
    background-size: cover;
    opacity: 0.5;
    position: relative;
    overflow-x: auto;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    padding-inline: 20px;
}

.line_inner{
    position: absolute;
    inset: 0;
    min-width: 160%;
    z-index: -1;
    background: rgba(225,225, 225, 0.5);
}

.line{
    display: flex;
    min-width: 160%;
    margin-inline: auto;
    
    
    
}

.line2{
    position: relative;
    min-width: 160%;
    padding:0 5px ;
    margin-inline: auto;
    margin-bottom: 40px;
    isolation: isolate;

    & p{
        position: absolute;
        font-size: 14px;
        z-index: 3;
        
    }

    
}
.ship{
    padding:0 5px ;
    min-width: 164%;
    
    margin-inline: auto;
}

.China div:first-child{
    left: 5%;
}

.line2 > p:first-child{
    left: 0;
}
.line2 > p:nth-child(2){
    left: 15%;
}
.line2 > p:nth-child(3){
    left: 30%;
}
.line2 > p:nth-child(4){
    left: 47%;
}
.line2 > p:nth-child(5){
    left: 64%;
}
.line2 > p:nth-child(6){
    left: 80%;
}
.line2 > p:nth-child(7){
    left: 97%;
}
.current_city{
    position: relative;
    width: 25%;
    height: 4px;
    background: #444;
    margin-block: 20px;
    

    & div{
        position: absolute;
        right: 0;
        top: -250%;
        background: white;
        width: fit-content;
    }
}

.route_button{
    border: 2px solid #A7C756;
    margin-inline: auto;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;

}

.Map{
    
    height: 300px;
    width: 80%;
    background-color: #ddd;
    margin-top: 200px;
}