

  .container{
    display: flex;
    
    
    width: 100%;
    height: 100vh;
    
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }

  .signup-form,
  .login-form{
    
    border-radius: 8px;
    width: 30%;
    display: flex;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding-inline: 10%;
    border: 1px solid #ddd;
    flex-direction: column;
    
  }
  
  .signup-form h2,
  .login-form h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
  }
  
  .form-group input {
    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .form-group .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .form_button {
    
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    height: 40px;
    margin-inline: auto;
  }
  .check{
    display: flex;
    gap: 2px;
    width: 90%;
    margin-bottom: 2rem;

    & label{
      font-size: 13px;
      font-weight: 600;
    }
    
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .success-message {
    color: green;
    margin-top: 15px;
    font-size: 14px;
  }
  
