/* PrivacyPolicyPage.css */

/* Container */
.privacy-container {
  min-height: 100vh;
  background-color: #f7fafc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.privacy-content {
  width: 90%;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2rem;
}

/* Title */
.privacy-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3182ce;
  text-align: center;
  margin-bottom: 1.5rem;
}

/* Introduction Text */
.privacy-intro {
  color: #4a5568;
  text-align: center;
  font-size: 17px;
  margin-bottom: 2rem;
}

/* Sections */
.privacy-sections {
  margin-top: 2rem;
}

.privacy-subtitle {
  font-size: 1rem;
  font-weight: 600;
  color: #2d3748;
  margin-bottom: 0.5rem;
}

.privacy-text {
  color: #4a5568;
  margin-bottom: 1rem;
  font-size: 17px;
}

.privacy-list {
  list-style-type: disc;
  padding-left: 1.5rem;
  
  color: #4a5568;
}

.privacy-list li{
  font-size: 17px;
}

.privacy-contact {
  list-style-type: none;
  padding-left: 0;
  font-size: 17px;
  color: #4a5568;

  
}

.privacy-contact li {
  margin-bottom: 0.5rem;
  font-size: 17px;
 
}

.privacy_span{
  font-style: italic;
  color: #444;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 500px){
  .privacy-content {
    width: 95%;
    padding:2rem  0.5rem;
  }
}

