.check,.radio{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    flex-direction: row;
    padding-block:5px 15px ;
}

.check > label , .radio > label{
    display: flex;
    gap: 3px;
    white-space: nowrap;
}

@media (max-width: 768px){
    .check,.radio{
        grid-template-columns: repeat(2,1fr);
    }
}

