.header_image{
    position: relative;
    height: 200px;
    background: url("../../../public/SFG_images/Slider4.jpg") no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center
}

.contact_header{
    position: absolute;
    inset: 0;
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0,0.7);
    font-size: 40px;
    color: white;
}

.contact{
    margin-top: 50px;
}
.contact_form{
    width: 90%;
    

    & input{
        height: 40px;
        width: 100%;
        font-size: 19px;

    }
    & button{
        height: 40px;
        width: 100%;
        border-radius: 5px;
        border: none;
        font-size: 19px;
    }
}

