.head_image{
    background: url("../../../public/SFG_images/Get_in_Touch.jpg") no-repeat  fixed 100%;
    background-size: cover;
    height: 300px;
}

.head_image > div{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;

    & h4{
        color: #fff;
        font-weight: 700;
        font-size: 30px;
    }

}

.faq{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}
.faq_title{
    background: url("../../../public/SFG_images/Sea.jpg") no-repeat fixed 100%;
    background-size: cover;
    height: fit-content;
    background-clip: text;
    color: transparent;
    font-size: 25px;
}
/* FAQPage.css */

/* Container */
.faq-container {
    min-height: 100vh;
    background-color: #f7fafc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  .faq-content {
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
  }
  
  .faq-title {
    font-size: 2rem;
    font-weight: bold;
    color: #3182ce;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .faq-list {
    margin-top: 2rem;
  }
  
  .faq-item {
    margin-bottom: 1rem;
    border-bottom: 1px solid #e2e8f0;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #f9fafb;
    padding: 1rem;
    width: 100%;
    border: none;
    text-align: left;
  }
  
  .question-text {
    font-size: 1.25rem;
    font-weight: 600;
    color: #2d3748;
  }
  
  .faq-toggle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3182ce;
  }
  
  .faq-answer {
    color: #4a5568;
    margin-top: 0.5rem;
    padding-left: 1rem;
    background-color: #f9fafb;
    padding-bottom: 1rem;
  }
  