.head_image{
    background: url("../../../public/SFG_images/Get_in_Touch.jpg") no-repeat  fixed 100%;
    background-size: cover;
    height: 200px;
}

.head_image > div{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    & h4{
        color: #fff;
        font-weight: 700;
        font-size: 30px;
    }

}

.faq{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}
.faq_title{
    background: url("../../../public/SFG_images/Sea.jpg") no-repeat fixed 100%;
    background-size: cover;
    height: fit-content;
    background-clip: text;
    color: transparent;
}
.questions_info{
    display: flex;
    width: 95%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #A7C756
    ;
    margin-inline:auto;
    padding-block:20px;

} 
.accordion_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding: 0;
}

@keyframes animate{
    from{height: 30px;}
    to{height: 100px;}
}

@keyframes animateDown{
    from{height: 100px;}
    to{height: 30px;}
}



.child1,.child2{
    width: 45%;
}


@media (max-width: 768px){
    .questions_info{
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        
    }
    .child1,.child2{
        width: 95%;
    }

    .faq{
        grid-template-columns: 1fr;
    }
}