.service_container{
   background-color: #eee;
   

}

.service_image_header{
   position: relative;
   background: url("../../../public/SFG_images/Slider2.jpg") no-repeat  fixed 100%;
   background-size: cover;
   height: 200px;
   margin-bottom: 50px;
}

.title{
   font-size: 40px;
   margin-bottom: 40px;
   margin-inline: auto;
   width: fit-content;
   text-align: center;
}

.get_start{
   font-size: 40px;
   font-weight: 500;
   margin-top: 2rem;
   color: red;
}

.rocket{
   font-size: 40px;
}

.ed{
   font-size: 40px;
   margin-left: -8px;
   
}

.contacts{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: white;
   margin: 20px 0;
   box-shadow: 1px 5px 15px #bbb;
   border-radius: 5px;
   padding-block: 20px;
}

.service_icon{
   width: 3em;
   padding-left: 6px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 3em;
   border: 3px solid #A7C756;
   border-radius: 5px;
   margin-bottom: 10px;
   
}

.i{
   margin-left: 5px;
}

@media (max-width: 768px){
   .service_container{
      margin-top: 90px;
   
   }
  }