
.contact-section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: #f8f9fa;
    padding: 20px;
  
  }
  
  .contact-card {
    width: 100%;
    max-width: 600px;   
    padding: 20px;
    background: #ffffff;
    text-align: center;
  }
  
  .contact-title {
    margin-inline: auto;
    color: #1890ff; 
    width: fit-content;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .contact-description {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
  }
  
  
  

.order_cont {
    min-height: 100vh;
    background-color: #f7fafc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
  }

  .order {
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
  }

.check,.radio{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    flex-direction: row;
    padding-block:5px 15px ;
}

.check > label , .radio > label{
    display: flex;
    gap: 3px;
    white-space: nowrap;
}

@media (max-width: 768px){
    .check,.radio{
        grid-template-columns: repeat(2,1fr);
    }
}

