.services_container{
    background: linear-gradient(
    to bottom,
    #fabbff 29%,
    #f8d4fb 59%,
    #d3c5d4 84%,
    #f5e7f6 100%
  );

}

.services_header{
  background-color: linear-gradient(
    to bottom,
    #e521f3 29%,
    #da82e2 59%,
  )
}

.why_choose_us{
    display: flex;
    
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.welcome_button{
    color: white;
    border: none;
    
    
  }

  .welcome_butt{
  display: block;
  position: relative;
  width: 170px;
  text-decoration: none;
  padding: 20px 0;
  overflow: hidden;
  
  border-radius: 5px;
  border: none;
  

  


  & span{
    position: relative;
    z-index: 1;
    color:#fff;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
  }

}

.liquid{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--purple);
  
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  


}

.liquid::before,
.liquid::after{
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  top: -60%;
  left: 50%;
  transform: translate(-50%,-75%);
  
}

.liquid::before{
   border-radius: 45%;
   background: rgb(20, 20, 20,1);
    animation: animat 5s linear infinite;
}
.liquid::after{
  border-radius: 40%;
  background: rgb(20, 20, 20,0.5);
animation: animat 10s linear infinite;
}

@keyframes animat{
0%{
  transform: translate(-50%, -75%) rotate(0deg);

}
100%{
  transform: translate(-50%, -75%) rotate(360deg);

}
}

@media (max-width: 768px) {
    .why_choose_us {
        flex-direction: column;
        text-align: center;
    }
}