.Loader {
    width: 95%;
    height: 300px;
    animation: 2000ms infinite color-loading;
    margin-inline: auto;
    margin-bottom: 70px;
    margin-top: 20px;
}

@keyframes color-loading {
    0% {
        background: linear-gradient(
            to right,
            #ddd,
            #eee
        );
    }
    100% {
        background: linear-gradient(
            to right,
            #eee,
            #ddd
        );
    }
}

svg{
    margin: 0;
    padding: 0;
    transform: translateX(-10%);
}

.turn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #eee;
    border-left: 2px solid #bbb;
    animation: load 2s linear infinite;
}


@keyframes load{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}